.click-div{
    width: fit-content;
    height: 100px;
    background:deeppink;
    cursor: pointer;
    text-align: center;
    top: 585px;
    line-height: 93px;
    font-size: 100px;
}
body{
    height:2000px;
}
